#appContainer{
color:black; 
display:flex; 
flex-flow: row wrap; 

}

#appContainer > *{
flex: 1 100%;
}

#sidebarContainer{
  flex:1 ; 
  background-color: blueviolet;
  width: 20%; 
  height: 100vh; 
  position: fixed
}
#clockContainer{
  flex:2;
background-color: cornflowerblue;
width: 70%;
height: 100vh; 
text-align: center;
/* position: fixed */
}
/* #clockID{
  position: absolute;
  left: 40%;
} */

#timeOutput{
  
}

#runningViz{
  /* background-color: cyan; */
  flex:3;
  width: 300px;
  height: 3px; 
  position: absolute;
  left: 40%; 
/* margin:auto */
}

#warningDiv{
  width: 400px;
  height: 50px; 
  margin: auto;
}

.reds{
background-color:palevioletred;
}
.blues{
  background-color: rgb(122, 201, 190);
}
.warm{
  background-color: hsla(45, 100%, 50%, 1);
  
}
.cool{
  background-color:hsla(229, 100%, 50%, 1);
  
}

.pinks{
  background-color:hsla(344, 100%, 50%, 1);
}
.purps{
background-color: hsla(272, 100%, 50%, 1);
}
