

 .fonts{
  font-family: 'Poppins', sans-serif;
 }



#appContainer{
color:black; 
display:flex; 
flex-flow: row wrap; 

}

#appContainer > *{
flex: 1 100%;
}

#sidebarContainer{
  flex:1 ; 
  background-color: blueviolet;
  width:20%; 
  height: 100vh; 
  position: fixed
}
#clockContainer{
  flex:2;
background-color: cornflowerblue;
width: 70%;
height: 100vh; 
text-align: center;
}

#clockId{
  max-height: 200px ;
}


#runningViz{
  flex:3;
  width: 300px;
  height: 3px; 
  position: absolute;
  left: 40%; 
}

#warningDiv{
  width: 400px;
  height: 50px; 
  margin: auto;
}

button{ 
  transition: all 0.4s ;
}



#plusButton{
  margin-right: 5px;
  width: 40px; 
  font-size: 25px;
  margin-left: 6%;
  margin-top: 2%;
  box-shadow: 2px 4px 0px 0px #535856;

  
}

#plusButton:hover {
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #007144;

}


#minusButton{
  width: 40px;
  font-size: 25px; 
  margin-left: 6%;
  margin-top: 2%;
  box-shadow: 2px 4px 0px 0px #535856;

}

#minusButton:hover {
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #007144;

}

#startingTimeText{

  margin-left: 7%;
  font-size: 20px; 
  margin-top: 20px; 
  


}
#startingTimeNumber{
  margin-left: 30%;
  font-size: 22px

}

#themeButton{
  font-size: 15px;
  margin-left: 5%;
  margin-top: 10%; 
  padding: 5%; 
  margin-right: 5%;
  box-shadow: 2px 4px 0px 0px #535856;
}

#themeButton:hover{
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 0px 0px #007144;
}


#timeOutput{
  font-size: 22px;
  left: 20%;

}
#startButton{
  left: 20%;
  margin-right: 1%;
  font-size: large;
  box-shadow: 2px 4px 0px 0px #535856;

}

#startButton:hover{
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #007144;
}


#resetButton{
  left: 20%;
  font-size: large;
  box-shadow: 2px 4px 0px 0px #535856;

}
#resetButton:hover{
  margin-top: 5px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 0px 0px #007144;

}


.reds{
  background-color:palevioletred;
  }
  .blues{
    background-color: rgb(122, 201, 190);
  }
  .warm{
    background-color: hsla(45, 100%, 50%, 1);
    
  }
  .cool{
    background-color:hsla(229, 100%, 50%, 1);
    color: white
    
  }
  
  .pinks{
    background-color:hsla(344, 100%, 50%, 1);
  }
  .purps{
  background-color: hsla(272, 100%, 50%, 1);
  }

